.main-menu {
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 0.6em 0 0 0;
  background-color: rgb(235, 65, 150);
  align-items: center;
  justify-content: center;
}

.main-menu > li {
  /* box-sizing: border-box; */
  /* height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));   */
  /* line-height: var(--menu-item-size); */
  padding: 0 2em;
  margin: 1px;
  /* transition: 0.5s linear all; */
  /* background: var(--green-color);
    color: var(--dark-green-color); */
  cursor: pointer;
  font-size: 16px;
  /* user-select: none; */
}
.icon {
  border-radius: 50%;
}
.icon:hover {
  transform: scaleX(-1);
  border-radius: 50%;
}

.submenu-content {
  display: none;
  position: absolute;
  z-index: 10;
  list-style: none;
  left: 0;
  right: 5px;
  margin: 0;
  padding: 0;
  min-width: calc(3.5 * var(--menu-item-size) - 5%);
  box-shadow: 5px 5px 5px #ccc;
}

.dropdown-submenu {
  position: relative;
  display: inline-block;
  shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.dropdown-submenu:hover .submenu-content {
  display: block;
}

.submenu-content > li {
  background: hsl(0, 0%, 98%);
  border-bottom: 1px solid var(--gray-color);
  color: #777;
  padding: 1.2em 1em;
  transition: 0.3s all linear;
  display: block;
  line-height: 0%;
}

.submenu-content > li:hover {
  background: pink;
}

.submenu-content > li:active {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .main-menu {
    flex-flow: wrap;
    flex-direction: row;
  }

  .main-menu > li {
    flex: 0 1 50%;
  }
}
